//module TYPO

//module MAIN COLORS
$white: #fff;
$black: #000;
$red: #CE2B27;

//module BACKGROUND COLORS

//module TEXT COLORS

//module BORDERS
$border-color: #d3d3d3;
$border-radius: 4px;

//module LISTS