*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica', sans-serif;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.site-header {
	min-height: 800px;
	text-align: center;
	width: 100%;
	display: table;
	.container {
		display: table-cell;
		vertical-align: middle;
	}
	h1 {
		font-size: 3em;
	}
}

.container {
	max-width: 940px;
	margin: 0 auto;
}

input, button, select, textarea {
	outline: none;
}

.demo-area {
	padding: 150px 0 10px;
	min-height: 600px;
}

.demo-title {
	display: block;
	font-size: 1.75em;
	margin-bottom: 1.5em;
	text-align: center;
	font-weight: 300;
}

.icon-search {
	font-size: 16px;
}

.facebook {
	background: linear-gradient(to top, #4D6BA1, #3B5998);
	border-bottom: 1px solid #133783;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	.demo-title {
		color: #fff;
	}
	.input-wrapper {
		position: relative;
		max-width: 600px;
		margin: 0 auto;
		clear: both;
	}
	.btn-search {
		position: absolute;
		content: '';
		background: #f6f7f8;
		color: #535C68;
		border: 1px solid #355089;
		border-left: 0;
		border-radius: 0 4px 4px 0;
		cursor: default;
		display: block;
		height: 26px;
		width: 50px;
		line-height: 1;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 1;
	}
	label {
		position: absolute;
		right: 100%;
		.icon-db {
			color: #fff;
			display: block;
			border-radius: 3px;
			overflow: hidden;
			height: 26px;
			width: 27px;
			margin-right: 5px;
			border: 1px solid #355089;
			text-align: center;
			&:before {
				font-size: 26px;
			}
		}
	}
	input {
		width: 100%;
		border: 1px solid #355089;
		border-radius: 4px;
		height: 26px;
		padding-left: 5px;
		font-size: .875em;
		&:focus ~ .btn-search {
			background-color: #5890ff;
			color: #fff;
		}
	}
	.autocomplete-suggestions {
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #ccc;
		box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
		font-size: .875em;
		margin-left: 1px;
		clear: both;
	}
	.autocomplete-suggestion {
		position: relative;
		cursor: pointer;
	}
	.autocomplete-selected {
		background-color: #EBEEF4;
	}
	.autocomplete-suggestions strong {
		font-weight: 700;
	}
	
	.suggestion-img {
		float: left;
		height: 40px;
		line-height: 40px;
		margin: 4px 8px 0 6px;
		overflow: hidden;
		text-align: center;
		vertical-align: middle;
		width: 40px;
		img {
			max-width: 100%;
			max-height: 40px;
			display: block;
		}
	}

	.suggestion-wrapper {
		display: block;
		height: 48px;
		overflow: hidden;
		position: relative;
		text-overflow: ellipsis;
		vertical-align: middle;
		line-height: 16px;
		padding: 7px 0;
	}

	.suggestion-value {
		display: block;
		line-height: normal;
		font-weight: 700;
	}

	.sub-text {
		color: #999;
		font-size: 11px;
		font-weight: normal;
	}
}

.google {
	border-bottom: 1px solid #E5E5E5;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	.demo-title {
		color: #000;
		margin-bottom: 1em;
		img {
			max-width: 269px;
		}
	}
	.input-wrapper {
		position: relative;
		max-width: 600px;
		margin: 0 auto;
		clear: both;
	}
	label {
		position: absolute;
		right: 100%;
		.icon-db {
			color: red;
			display: block;
			border-radius: 3px;
			overflow: hidden;
			height: 26px;
			width: 27px;
			margin-right: 5px;
			border: 1px solid red;
			text-align: center;
			&:before {
				font-size: 26px;
			}
		}
	}
	input {
		width: 100%;
		border: 1px solid #A0A0A0;
		height: 30px;
		padding-left: 5px;
		font-size: .875em;
		border-radius: 0 4px 4px 0;
		&:focus {
			border-color: #4d90fe;
		}
		&:focus ~ .btn-search {
			background-color: #5890ff;
			color: #fff;
		}
	}
	.btn-search {
		position: absolute;
		content: '';
		background: linear-gradient(top,#4d90fe,#4787ed);
		color: #fff;
		border: 1px solid #4d90fe;
		border-left: 0;
		cursor: default;
		display: block;
		height: 30px;
		width: 50px;
		line-height: 1;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 1;
		border-radius: 0 3px 3px 0;
	}
	.autocomplete-suggestions {
		background-color: #fff;
		border: 1px solid #ccc;
		box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
		font-size: .875em;
		margin-top: -1px;
		overflow: hidden;
	}
	.autocomplete-suggestion {
		position: relative;
		cursor: pointer;
		font-weight: 700;
		line-height: 22px;
		padding: 0 5px;
	}
	.autocomplete-selected {
		background-color: #EBEEF4;
	}
	.autocomplete-suggestions strong {
		font-weight: 100;
	}


}