.autocomplete-suggestions {
	overflow: auto;
}
//
//.autocomplete-suggestion {
//	padding: 2px 5px;
//	white-space: nowrap;
//	overflow: hidden;
//}
//
//.autocomplete-no-suggestion {
//	padding: 2px 5px;
//}
//
//.autocomplete-selected {
//	background: #F0F0F0;
//}
//
//.autocomplete-suggestions strong {
//	font-weight: bold;
//	color: #000;
//}
//
//.autocomplete-group {
//	padding: 2px 5px;
//}
//
//.autocomplete-group strong {
//	font-weight: bold;
//	font-size: 16px;
//	color: #000;
//	display: block;
//	border-bottom: 1px solid #000;
//}
