@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-yxb3x0");
  src: url("../fonts/icomoon.eot?#iefix-yxb3x0") format("embedded-opentype"), url("../fonts/icomoon.woff?-yxb3x0") format("woff"), url("../fonts/icomoon.ttf?-yxb3x0") format("truetype"), url("../fonts/icomoon.svg?-yxb3x0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-db:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e601";
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.site-header {
  min-height: 800px;
  text-align: center;
  width: 100%;
  display: table;
}
.site-header .container {
  display: table-cell;
  vertical-align: middle;
}
.site-header h1 {
  font-size: 3em;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

input, button, select, textarea {
  outline: none;
}

.demo-area {
  border-bottom: 5px solid #d3d3d3;
  overflow: hidden;
}

.demo-wrapper {
  padding: 100px 0 50px;
}

.demo-title {
  display: block;
  font-size: 1.75em;
  margin-bottom: 1.5em;
  text-align: center;
  font-weight: 300;
}

.icon-search {
  font-size: 16px;
}

.code-tab-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.code-tabs {
  font-size: 0;
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
}
.code-tabs li {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.code-tabs a {
  display: block;
  padding: 10px 20px;
  border: 1px solid #d3d3d3;
  border-radius: 4px 4px 0 0;
  background-color: #eee;
  color: #000;
  text-decoration: none;
}
.code-tabs a:hover {
  border-color: #d3d3d3;
}
.code-tabs a.current {
  border-bottom-color: #fff;
  background-color: #fff;
}

.code-examples-wrapper {
  background-color: #fff;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 100;
}
.code-examples-wrapper:before, .code-examples-wrapper:after {
  position: absolute;
  content: '';
  border-bottom: 30px solid #fff;
  top: -30px;
  z-index: 100;
}
.code-examples-wrapper:before {
  border-left: 1000px solid transparent;
  border-right: 0px solid transparent;
  right: 50%;
}
.code-examples-wrapper:after {
  border-left: 0px solid transparent;
  border-right: 1000px solid transparent;
  left: 50%;
}

.code-tab-wrapper {
  padding: 1em;
  border: 1px solid #d3d3d3;
  border-radius: 0 4px 4px 4px;
}

pre {
  font-family: monospace;
  white-space: pre;
}

.facebook {
  background: linear-gradient(to top, #4D6BA1, #3B5998);
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.facebook .demo-title {
  color: #fff;
}
.facebook .input-wrapper {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  clear: both;
}
.facebook .btn-search {
  position: absolute;
  content: '';
  background: #f6f7f8;
  color: #535C68;
  border: 1px solid #355089;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  cursor: default;
  display: block;
  height: 26px;
  width: 50px;
  line-height: 1;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;
}
.facebook label {
  position: absolute;
  right: 100%;
}
.facebook label .icon-db {
  color: #fff;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  height: 26px;
  width: 27px;
  margin-right: 5px;
  border: 1px solid #355089;
  text-align: center;
}
.facebook label .icon-db:before {
  font-size: 26px;
}
.facebook input {
  width: 100%;
  border: 1px solid #355089;
  border-radius: 4px;
  height: 26px;
  padding-left: 5px;
  font-size: .875em;
}
.facebook input:focus ~ .btn-search {
  background-color: #5890ff;
  color: #fff;
}
.facebook .autocomplete-suggestions {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
  font-size: .875em;
  margin-left: 1px;
  clear: both;
}
.facebook .autocomplete-suggestion {
  position: relative;
  cursor: pointer;
}
.facebook .autocomplete-selected {
  background-color: #EBEEF4;
}
.facebook .autocomplete-suggestions strong {
  font-weight: 700;
}
.facebook .suggestion-img {
  float: left;
  height: 40px;
  line-height: 40px;
  margin: 4px 8px 0 6px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 40px;
}
.facebook .suggestion-img img {
  max-width: 100%;
  max-height: 40px;
  display: block;
}
.facebook .suggestion-wrapper {
  display: block;
  height: 48px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  line-height: 16px;
  padding: 7px 0;
}
.facebook .suggestion-value {
  display: block;
  line-height: normal;
  font-weight: 700;
}
.facebook .sub-text {
  color: #999;
  font-size: 11px;
  font-weight: normal;
}

.google {
  background-color: #F1F1F1;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.google .demo-title {
  color: #000;
  margin-bottom: 1em;
}
.google .demo-title img {
  max-width: 269px;
}
.google .input-wrapper {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  clear: both;
}
.google .input-wrapper:before {
  position: absolute;
  right: 65px;
  top: 3px;
  content: '';
  width: 17px;
  height: 23px;
  background: url("data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5BAEAAAcALAAAAAAcACYAAAO9eLpMIMYIQJi9DcYtKv6KtnHgB4yoAZSXKAyDy1rjoAzjzOQLrx8+4OanCAZnxiExGSEKmz3lj2lwUq3SZ3WZPbKuXGgxu9t4tLYDTkpIRQILF0x2G4lWipM7gj/oJQUkcXsCDCIFATULBCIcZ2tvB3QLDxETFnR/BgU/gRt9jX0gnpYMkJZpFzEoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs=") no-repeat center center;
  background-size: 14px 19px;
  opacity: .6;
}
.google .input-wrapper:hover:before {
  opacity: 1;
}
.google label {
  position: absolute;
  right: 100%;
}
.google label .icon-db {
  color: red;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  height: 26px;
  width: 27px;
  margin-right: 5px;
  border: 1px solid red;
  text-align: center;
}
.google label .icon-db:before {
  font-size: 26px;
}
.google input {
  width: 100%;
  border: 1px solid #A0A0A0;
  height: 30px;
  padding-left: 5px;
  font-size: .875em;
  border-radius: 0 4px 4px 0;
}
.google input:focus {
  border-color: #4d90fe;
}
.google input:focus ~ .btn-search {
  background-color: #5890ff;
  color: #fff;
}
.google .btn-search {
  position: absolute;
  content: '';
  background: linear-gradient(#4d90fe, #4787ed);
  color: #fff;
  border: 1px solid #4d90fe;
  border-left: 0;
  cursor: default;
  display: block;
  height: 30px;
  width: 60px;
  line-height: 1;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;
  border-radius: 0 4px 4px 0;
}
.google .btn-search .icon-search {
  font-size: 14px;
}
.google .autocomplete-suggestions {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
  font-size: .875em;
  margin-top: -1px;
  overflow: hidden;
}
.google .autocomplete-suggestion {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  line-height: 22px;
  padding: 0 5px;
}
.google .autocomplete-selected {
  background-color: #EBEEF4;
}
.google .autocomplete-suggestions strong {
  font-weight: 100;
}
